.main-card {
    display: flex;
    margin: 5px;
    position: center;
    padding: 1px;
    left: 5%;
    position: absolute;
}

.card-a {
    padding: 5px;
}

.card-b {
    padding: 5px;
}

.card-c {
    padding: 5px;
}