.petmain-form {
    color: #303030;
    font-family: 'Signika Negative', sans-serif;
    display: flex;
}

.petmain-left {
    margin: 2%;
}

.petmain-right {
    margin: 0px;
}

.petmain-img {
    height: 30;
    position: center;
    border: red;
}

.petmain-form-link {
    color: #303030;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
}