#pet-list header h2 {
    margin-bottom: 4px;
}

#pet-list header h2 span {
    color: #888888;
    font-size: 10px;
    font-weight: normal;
    margin-left: 10px;
}

@media screen and (min-width: 375px) {
    #pet-list header h2 span {
        font-size: 12px;
    }
}

#pet-list header .MuiLinearProgress-colorPrimary {
    background-color: #d6d6d6;
}

#pet-list header .MuiLinearProgress-barColorPrimary {
    background-color: #9c27b0;
}

#pet-list .pet-list {
    margin: 20px 0;
}

#pet-list .pet-list .pet-list-item {
    background: #ffffff;
    border-radius: 2px;
    color: #303030;
    display: grid;
    font-size: 13px;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 6px;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transition: all .2s;
}

#pet-list .pet-list .pet-list-item:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#pet-list .pet-list .pet-list-item:active {
    background: #f6f6f6;
}

#pet-list .pet-list .pet-list-item span {
    margin: 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#pet-list .pet-list .pet-list-item span:nth-child(1) {
    order: 1;
}

#pet-list .pet-list .pet-list-item span:nth-child(2) {
    order: 3;
    color: #888888;
}

#pet-list .pet-list .pet-list-item span:nth-child(3) {
    order: 2;
    text-align: right;
}

#pet-list .pet-list .pet-list-item span:nth-child(4) {
    order: 4;
    text-align: right;
    color: #888888;
}

@media screen and (min-width: 375px) {
    #pet-list .pet-list .pet-list-item {
        font-size: 15px;
    }
}

@media screen and (min-width: 1280px) {
    #pet-list .pet-list .pet-list-item {
        font-size: 17px;
        grid-template-columns: 4fr 4fr 2fr 1fr;
    }
    #pet-list .pet-list .pet-list-item span:nth-child(1) {
        order: 1;
    }
    #pet-list .pet-list .pet-list-item span:nth-child(2) {
        order: 2;
        color: inherit;
    }
    #pet-list .pet-list .pet-list-item span:nth-child(3) {
        order: 3;
        text-align: left;
    }
    #pet-list .pet-list .pet-list-item span:nth-child(4) {
        order: 4;
        color: inherit;
    }
}

#pet-list .pet-list .pet-list-item.placeholder {
    border: 2px dashed #e6e6e6;
    display: block;
    text-align: center;
}

#pet-list .pet-list .pet-list-item.placeholder span {
    background: url('/images/ic_add_circle_purple.png') left center no-repeat;
    background-size: contain;
    color: #9c27b0;
    padding: 3px 0 3px 30px;
}

@media screen and (min-width: 1280px) {
    #pet-list .pet-list .pet-list-item.placeholder span {
        padding-left: 35px;
    }
}